* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(9, 132, 184);
}

#root {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  align-items: center;

  justify-content: space-between;
  width: 300px;
  height: 500px;
  background-color: rgb(165, 238, 147);
  border-radius: 70px;
  -webkit-box-shadow: 1px 0px 15px 6px #292c2c;
  box-shadow: 1px 0px 15px 6px#292c2c;
}
.header {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 90px;
  width: 100%;
  border-radius: 70px 70px 0px 0px;
  background-color: rgb(17, 148, 37);
}

.header marquee {
  color: #f3ef02;
  font-weight: 600;
  letter-spacing: 2px;
  width: 70%;
}
.track-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.track-list svg {
  width: 1em;
  height: 1em;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  flex-shrink: 0;
  user-select: none;
  fill: currentcolor;
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 1.5rem;
  color: #971b1b;
}
.track-list p {
  margin: 0px 0px 0px 16px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  color: rgb(94, 55, 109);
  font-size: 13px;
  font-weight: 300;
}
.strack-btn {
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 8px;
  background-color: hsla(195, 67%, 89%, 0.5);
  -webkit-box-shadow: 1px 0px 7px 3px #0c4f39;
  box-shadow: 1px 0px 7px 3px #0c4f39;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
}
.controller {
  width: 100%;
  height: 80px;
  background-color: rgb(17, 148, 37);
  border-radius: 0px 0px 70px 70px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.controller button {
  padding: 12px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.26);
}
.controller svg {
  width: 1em;
  height: 1em;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  flex-shrink: 0;
  user-select: none;
  fill: currentcolor;
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 2.7rem;
  color: #971b1b;
}
